modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Setup and Start"

[[workflows.workflow]]
name = "Start Backend"
author = 46497786
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"

[[workflows.workflow]]
name = "Setup and Start"
author = 46497786
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"

[[ports]]
localPort = 5000
externalPort = 80
